body {
  background-color: hsl(229, 48%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  width: 75%;
  padding-top: 40px;
}
.header {
  background-color: rgba(245, 245, 245, 0.123);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.logo {
  color: white;
}
.toggle {
  background-color: rgba(245, 245, 245, 0.123);
  border: 0px;
  padding: 6px;
  border-radius: 5px;
}
.nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnList {
  display: flex;
  align-items: center;
  justify-content: end;}
.nav-heading {
  color: white;
  font-size: xx-large;
}
.btnList > button {
  border: 0.5px solid white;
  background-color: rgba(245, 245, 245, 0.123);
  border-radius: 40%;
  width: 80px;
  height: 25px;
  margin-left: 10px;
  color: white;
}

.body{
  display: flex;
  gap: 10px;
}
.body > div {
  background-color: aquamarine;
  width: 33%;
  height: 200px;
  padding: 0 15px 0 15px;
  border-radius: 5px;
  border: 0.4px solid white;
  background-color: rgba(245, 245, 245, 0.123);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}