body {
  background-color: hsl(229, 48%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  width: 75%;
  padding-top: 40px;
}
.header {
  background-color: rgba(245, 245, 245, 0.123);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.logo {
  color: white;
}
.toggle {
  background-color: rgba(245, 245, 245, 0.123);
  border: 0px;
  padding: 6px;
  border-radius: 5px;
}
.nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnList {
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav-heading {
  color: white;
  font-size: xx-large;
}
.btnList > button {
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: rgba(255, 255, 255, 0.055);
  border: 0.4px solid white;
  margin-right: 7%;
  border-radius: 50px;
  color: white;
  font-size: 15px;
}
.btnList > button:hover {
  background-color: orangered;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.btnList > button.active {
  background-color: orangered;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.body {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.body > div {
  background-color: aquamarine;
  width: 30%;
  height: 200px;
  padding: 10px 15px 15px 15px;
  border-radius: 15px;
  border: 0.4px solid rgba(255, 255, 255, 0.253);
  background-color: rgba(245, 245, 245, 0.123);
  display: flex;
  flex-direction: column;
}
.extcard {
  color: rgba(255, 255, 255, 0.493);
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.extcard > div:first-child {
  display: flex;
  gap: 20px;
  align-items: center;
}
.extcard > div:first-child > p > strong {
  color: white;
  margin-bottom: 10px;
}
.extcard > div:last-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.extcard > div:last-child > button:first-child {
  padding: 2%;
  background-color: transparent;
  border: 0.4px solid white;
  border-radius: 50px;
  color: white;
  font-size: 15px;
}

.attribution {
  margin-top: 10vw;
}
